<!DOCTYPE html>
<html>
    <head>
        <title>Reactive Angular</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/prism.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
    <article>
      <section data-bespoke-state="start">
        <div class="content">
          <div class="unbrokenline"></div>
          <h1>Reactive Angular</h1>
          <div class="byline">
            <div class="classy">
              by Martin Gontovnikas
            </div>
          </div>
          <div class="profile">
            <div class="rounded-image">
              <img src="img/gonto.jpeg">
            </div>
            <h3>@mgonto</h3>
          </div>
        </div>
      </section>

      <section data-bespoke-state="developer">
        <div class="content">
          <div class="byline">
            <div class="classy">
              I am a
            </div>
          </div>
          <h2>software developer</h2>
          <div class="byline">
            <div class="classy">
              from Buenos Aires, Argentina
            </div>
          </div>
        </div>
      </section>
      
      <section data-bespoke-state="steamclock">
        <div class="content">
          <div class="byline">
            <div class="classy">
              currently employed by 
            </div>
          </div>
          <h3>Aquicore Inc.</h3>
          <div class="byline">
            <div class="classy">
              making stuff happen
            </div>
          </div>
        </div>
      </section>

      <section data-bespoke-state="js">
        <div class="content">
          <div class="byline">
            <div class="classy">
              doing 
            </div>
          </div>
          <h3>Javascript</h3>
          <div class="byline">
            <div class="classy">
              most of my day <3
            </div>
          </div>
        </div>
      </section>
      
      <section data-bespoke-state="programming">
        <div class="content"></div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              this talk is about
            </div>
          </div>
          <h3>Reactive Angular</h3>
          <div class="byline">
          </div>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>So Let's start</h3>
        </div>
      </section>
      
      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              In recent times, I've been working with
            </div>
          </div>
          <h3>Scala</h3>
          <div class="byline">
            <div class="classy">
              And learnt about
            </div>
          </div>
          <h3>Reactive Programming</h3>
          <div class="byline"></div>
        </div>
      </section>

      <section data-bespoke-state="love">
        <div class="content">
        </div>
      </section>

      <section>
        <div class="content">
          <h2>Can this be applied to FrontEnd technologies?</h2>
        </div>
      </section>

      <section data-bespoke-state="rewind">
        <div class="content">
        </div>
      </section>

      <section>
        <div class="content">
          <h2>What is Reactive Programming?</h2>
        </div>
      </section>

      <section>
        <div class="content">
          <blockquote class="classy">
            <span class="twitter fedemoli"></p><h4>"I think Reactive means something that take decisions accordingly to certain outcomes"</h4>
          </blockquote>
          <blockquote class="classy">
            <span class="twitter nico"></p><h4>"Attribute of systems that react to events."</h4>
          </blockquote>
        </div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              the dictionary says
            </div>
          </div>
          <h3>readily responsive to a stimulus</h3>
          <div class="unbrokenline"></div>
        </div>
      </section>

      <section>
          <div class="content">
            <h2>We used to have 100 servers</h2>
            <h2>Now we have 1000 servers</h2>
          </div>
      </section>      

      <section>
          <div class="content">
            <h2>We used to have GB of data</h2>
            <h2>Now we have PB of data</h2>
          </div>
      </section>      

      <section>
          <div class="content">
            <h2>We used to have 100s of users</h2>
            <h2>Now we have 10000s of users</h2>
          </div>
      </section>      


      <section>
          <div class="content">
            <h2>What are the main pilars of reactive?</h2>
          </div>
      </section>

      <section>
        <div class="content">
          <h3>1. React To events</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>2. React To load</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>3. React To users</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>4. React To failure</h3>
        </div>
      </section>


      <section data-bespoke-state="really">
        <div class="content nofade">
          <h3>None of this things are new</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>So what's the cool stuff?</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3><strong>It leverages <span class="green">Functional Programming</span></strong> to do some of the things we normally do in an easier way.</h3>
        </div>
      </section>

      <section>
        <div class="content">
          <h3>How do we React to Events usually in out JS code?</h3>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="1" ><code class="language-javascript">var counter = 0;
$('.counter-btn').click(function(e) {
  e.preventDefault();
  apiServer.getCounterAmount(new Date(), function ok(amount) {
    counter = counter + amount;
    apiServer.logCounter(counter, function ok() {
      $('.text').val('Counter logged OK. ' + counter);
    })
  });
});
</code></pre>
        <p>We have a "global" variable</p>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="2"><code class="language-javascript">var counter = 0;
$('.counter-btn').click(function(e) {
  e.preventDefault();
  apiServer.getCounterAmount(new Date(), function ok(amount) {
    counter = counter + amount;
    apiServer.logCounter(counter, function ok() {
      $('.text').val('Counter logged OK. ' + counter);
    })
  });
});
</code></pre>
        <p>The function returns nothing: It has a side effect</p>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="2, 4, 6-7"><code class="language-javascript">var counter = 0;
$('.counter-btn').click(function(e) {
  e.preventDefault();
  apiServer.getCounterAmount(new Date(), function ok(amount) {
    counter = counter + amount;
    apiServer.logCounter(counter, function ok() {
      $('.text').val('Counter logged OK. ' + counter);
    });
  });
});
</code></pre>
        <p>Callback hell</p>
        </div>
      </section>

      <section data-bespoke-state="notcool">
        <div class="content nofade">
          <div class="unbrokenline"></div>
          <h2>We're not handling errors</h2>
          <div class="byline">
            <div class="classy">
              and if we would
            </div>
          </div>
          <h2>We'd need to handle them separately</h2>
          <div class="unbrokenline"></div>
        </div>
      </section>  

      <section data-bespoke-state="notcool">
        <div class="content">
          <h2>We can't compose this callbacks easily</h2>
        </div>
      </section>          

       <section data-bespoke-state="notcool">
        <div class="content">
          <h2>There's no separation of concerns.</h2>
        </div>
      </section>              

      <section data-bespoke-state="rabid">
        <div class="content">
        </div>
      </section>      

      <section>
        <div class="content">
          <h2>Let's see the Reactive way of doing this</h2>
        </div>
      </section>    

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="1"><code class="language-javascript">$('.counter-btn).clicks()
.flatMap(function() {
  return Observable.fromPromise(apiServer.getCounterAmount(new Date()) 
}
.doOnEach(apiServer.logCounter)
.sum()
.subscribe(function(sum) {
  console.log("Count now is" , sum)
}, function error(e) {
  console.error("Error running this", e);
});
</code></pre>
        <p>We get the clicks stream</p>
        </div>
      </section>  

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="2-4"><code class="language-javascript">$('.counter-btn).clicks()
.flatMap(function() {
  return Observable.fromPromise(apiServer.getCounterAmount(new Date()) 
}
.doOnEach(apiServer.logCounter)
.sum()
.subscribe(function(sum) {
  console.log("Count now is" , sum)
}, function error(e) {
  console.error("Error running this", e);
});
</code></pre>
        <p>For each new value we get the amount to sum</p>
        </div>
      </section>  

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="5"><code class="language-javascript">$('.counter-btn).clicks()
.flatMap(function() {
  return Observable.fromPromise(apiServer.getCounterAmount(new Date()) 
}
.doOnEach(apiServer.logCounter)
.sum()
.subscribe(function(sum) {
  console.log("Count now is" , sum)
}, function error(e) {
  console.error("Error running this", e);
});
</code></pre>
  <p>As a Side Effect, we log each of them</p>
        </div>
      </section> 

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="6"><code class="language-javascript">$('.counter-btn).clicks()
.flatMap(function() {
  return Observable.fromPromise(apiServer.getCounterAmount(new Date()) 
}
.doOnEach(apiServer.logCounter)
.sum()
.subscribe(function(sum) {
  console.log("Count now is" , sum)
}, function error(e) {
  console.error("Error running this", e);
});
</code></pre>
        <p>We sum each new value</p>
        </div>
      </section> 

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="7-11"><code class="language-javascript">$('.counter-btn).clicks()
.flatMap(function() {
  return Observable.fromPromise(apiServer.getCounterAmount(new Date()) 
}
.doOnEach(apiServer.logCounter)
.sum()
.subscribe(function(sum) {
  console.log("Count now is" , sum)
}, function error(e) {
  console.error("Error running this", e);
});
</code></pre>
        <p>We subscribe to listen to changes and handle ALL errors</p>
        </div>
      </section>

      <section data-bespoke-state="omg">
        <div class="content">
        </div>
      </section> 

      <section>
        <div class="content">
          <h2>Clicks is an observable list</h2>
        </div>
      </section>

      <section class="white only-image">
        <div class="content">
          <img class="full-width-img" src="img/stream-diagram-01.jpg">
        </div>
      </section>

      <section class="white only-image">
        <div class="content">
          <img class="full-width-img" src="img/stream-diagram-02.jpg">
        </div>
      </section>

      <section class="white only-image">
        <div class="content">
          <img class="full-width-img" src="img/stream-diagram-03.jpg">
        </div>
      </section>

      <section class="white only-image">
        <div class="content">
          <img class="full-width-img" src="img/stream-diagram-04.jpg">
        </div>
      </section>

      <section class="white only-image">
        <div class="content">
          <img src="img/observable-diagram.jpg">
        </div>
      </section>

      <section data-bespoke-state="">
        <div class="content">
          <div class="unbrokenline"></div>
          <h2>clicks Observable</h2>
          <div class="byline">
            <div class="classy">
              is very similar to a 
            </div>
          </div>
          <h2>Stream</h2>
          <div class="byline">
            <div class="classy">
              which is an
            </div>
          </div>
          <h2>infinite list</h2>
          <div class="byline">
            <div class="classy">
              where
            </div>
          </div>
          <h2>new values keep on arriving</h2>
          <div class="unbrokenline"></div>
        </div>
      </section> 

      <section data-bespoke-state="">
        <div class="content">
          <h2>We can subscribe an observer to the observable list</h2>
        </div>
      </section> 

      <section data-bespoke-state="">
        <div class="content">
          <div class="byline">
            <div class="classy">we're</div>
          </div>
          <h2>transforming, merging, filtering each value</h2>
          <div class="byline">
            <div class="classy">that arrives on</div>
          </div>
          <h2>the observable</h2>
          <div class="unbrokenline"></div>
        </div>
      </section> 

       <section data-bespoke-state="">
        <div class="content">
          <div class="byline">
            <div class="classy">an important thing about</div>
          </div>
          <h2>Reactive Programming</h2>
          <div class="byline">
            <div class="classy">is to</div>
          </div>
          <h2>understand map and flatMap</h2>
          <div class="unbrokenline"></div>
        </div>
      </section> 

      <section class="white only-image">
        <div class="content">
          <img class="full-width-img" src="img/map.png">
        </div>
      </section>

      <section class="white only-image">
        <div class="content">
          <img class="full-width-img" src="img/flatMap.png">
        </div>
      </section>

      <section>
        <div class="content">
          <h2>What are the advantages?</h2>
        </div>
      </section> 

      <section>
        <div class="content">
          <h2>We're handling errors in just ONE place</h2>
        </div>
      </section> 

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="9-11"><code class="language-javascript">$('.counter-btn).clicks()
.flatMap(function() {
  return Observable.fromPromise(apiServer.getCounterAmount(new Date()) 
}
.doOnEach(apiServer.logCounter)
.sum()
.subscribe(function(sum) {
  console.log("Count now is" , sum)
}, function error(e) {
  console.error("Error running this", e);
});
</code></pre>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>We're composing handlers</h2>
        </div>
      </section> 

      <section>
        <div class="content">
          <h2>We eliminated the callback hell</h2>
        </div>
      </section> 

      <section data-bespoke-state="the-end">
        <div class="content">
        </div>
      </section> 

      <section data-bespoke-state="">
        <div class="content">
          <h2>How do we apply this to our real world apps?</h2>
        </div>
      </section> 

      <section data-bespoke-state="">
        <div class="content">
          <h2>Using RxJS: Reactive Extension for Javascript</h2>
        </div>
      </section>       

      <section data-bespoke-state="">
        <div class="content">
          <h2>In this case, we'll use the Angular Toolkit</h2>
        </div>
      </section>

      <section data-bespoke-state="">
        <div class="content">
          <h2>Let's implement our counter</h2>
        </div>
      </section>

      <section data-bespoke-state="livecode">
        <div class="content" data-angular-app="counter" ng-controller="MainCtrl">
          <input type="button" value="Click me to increase counter" ng-click="increaseCounter()" />
          <span>Current counter value {{counter}}</span>
        </div>
      </section>

      <section data-bespoke-state="">
        <div class="content">
          <h2>Let's see show it works</h2>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="1-2" ><code class="language-markup">&lt;input type=&quot;button&quot; value=&quot;Click me to increase counter&quot; 
ng-click=&quot;increaseCounter()&quot; /&gt;
&lt;span&gt;Current counter value {{counter}}&lt;/span&gt;
</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="3" ><code class="language-markup">&lt;input type=&quot;button&quot; value=&quot;Click me to increase counter&quot; 
ng-click=&quot;increaseCounter()&quot; /&gt;
&lt;span&gt;Current counter value {{counter}}&lt;/span&gt;
</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="1"><code class="language-javascript">angular.module('counter', ['rx']);

angular.module('counter').controller('MainCtrl', 
  function(ApiServer, rx, $scope) {
      $scope.$createObservableFunction('increaseCounter')
      .flatMap(function() {
          return rx.Observable.fromPromise(ApiServer.getCounterAmount(new Date()));
      })
      .do(ApiServer.logCounter)
      .scan(function(acc, val) {return acc + val;})
      .subscribe(function(counter) {
          $scope.counter = counter;
          console.log("Total counter is", counter);
      }, function(error) {
          console.error("There was an error");
      });
});
</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="5"><code class="language-javascript">angular.module('counter', ['rx']);

angular.module('counter').controller('MainCtrl', 
  function(ApiServer, rx, $scope) {
      $scope.$createObservableFunction('increaseCounter')
      .flatMap(function() {
          return rx.Observable.fromPromise(ApiServer.getCounterAmount(new Date()));
      })
      .do(ApiServer.logCounter)
      .scan(function(acc, val) {return acc + val;})
      .subscribe(function(counter) {
          $scope.counter = counter;
          console.log("Total counter is", counter);
      }, function(error) {
          console.error("There was an error");
      });
});
</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="6-8"><code class="language-javascript">angular.module('counter', ['rx']);

angular.module('counter').controller('MainCtrl', 
  function(ApiServer, rx, $scope) {
      $scope.$createObservableFunction('increaseCounter')
      .flatMap(function() {
          return rx.Observable.fromPromise(ApiServer.getCounterAmount(new Date()));
      })
      .do(ApiServer.logCounter)
      .scan(function(acc, val) {return acc + val;})
      .subscribe(function(counter) {
          $scope.counter = counter;
          console.log("Total counter is", counter);
      }, function(error) {
          console.error("There was an error");
      });
});
</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="9"><code class="language-javascript">angular.module('counter', ['rx']);

angular.module('counter').controller('MainCtrl', 
  function(ApiServer, rx, $scope) {
      $scope.$createObservableFunction('increaseCounter')
      .flatMap(function() {
          return rx.Observable.fromPromise(ApiServer.getCounterAmount(new Date()));
      })
      .do(ApiServer.logCounter)
      .scan(function(acc, val) {return acc + val;})
      .subscribe(function(counter) {
          $scope.counter = counter;
          console.log("Total counter is", counter);
      }, function(error) {
          console.error("There was an error");
      });
});
</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="10"><code class="language-javascript">angular.module('counter', ['rx']);

angular.module('counter').controller('MainCtrl', 
  function(ApiServer, rx, $scope) {
      $scope.$createObservableFunction('increaseCounter')
      .flatMap(function() {
          return rx.Observable.fromPromise(ApiServer.getCounterAmount(new Date()));
      })
      .do(ApiServer.logCounter)
      .scan(function(acc, val) {return acc + val;})
      .subscribe(function(counter) {
          $scope.counter = counter;
          console.log("Total counter is", counter);
      }, function(error) {
          console.error("There was an error");
      });
});
</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="11-16"><code class="language-javascript">angular.module('counter', ['rx']);

angular.module('counter').controller('MainCtrl', 
  function(ApiServer, rx, $scope) {
      $scope.$createObservableFunction('increaseCounter')
      .flatMap(function() {
          return rx.Observable.fromPromise(ApiServer.getCounterAmount(new Date()));
      })
      .do(ApiServer.logCounter)
      .scan(function(acc, val) {return acc + val;})
      .subscribe(function(counter) {
          $scope.counter = counter;
          console.log("Total counter is", counter);
      }, function(error) {
          console.error("There was an error");
      });
});
</code></pre></div>
      </section>

      <section data-bespoke-state="omg">
        <div class="content">
        </div>
      </section>

      <section data-bespoke-state="">
        <div class="content">
          <h2>Let's now do a more complicates and real life example</h2>
        </div>
      </section>

      <section data-bespoke-state="">
        <div class="content">
          <h2>Let's do a contact search with local and remote filters</h2>
        </div>
      </section>

      <section data-bespoke-state="livecode">
        <div class="content nofade" data-angular-app="searcher" ng-controller="MainCtrl">
          <label for="name">Enter the name of the person to search for</label><input type="text" ng-model="name" />
          <select ng-model="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <input type="button" value="search" ng-click="search()" />
          <ul>
            <li ng-repeat="person in people">
              <span>Name: {{person.name}}</span>
              <span>Sex: {{person.gender}}</span>
            </li>
          </ul>
        </div>
      </section>

      
      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre><code class="language-markup">&lt;label for=&quot;name&quot;&gt;Enter the name of the person to search for&lt;/label&gt;
&lt;input type=&quot;text&quot; ng-model=&quot;name&quot; /&gt;
&lt;select ng-model=&quot;sex&quot;&gt;
  &lt;option value=&quot;male&quot;&gt;Male&lt;/option&gt;
  &lt;option value=&quot;female&quot;&gt;Female&lt;/option&gt;
&lt;/select&gt;
&lt;input type=&quot;button&quot; value=&quot;search&quot; ng-click=&quot;search()&quot; /&gt;
&lt;ul&gt;
  &lt;li ng-repeat=&quot;person in people&quot;&gt;
    &lt;span&gt;Name: {{person.name}}&lt;/span&gt;
    &lt;span&gt;Name: {{person.gender}}&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="1"><code class="language-javascript">$scope.$createObservableFunction('search')
  .map(function() {
      return $scope.name;
  })
  .flatMap(function(name) {
      return rx.Observable.fromPromise(ApiServer.findByName(name));
  })
  .filter(function(contact) {
      return !$scope.gender || ct.gender === $scope.gender;
  })
  .subscribe(function(people) {
      $scope.people = people;
  }, function(error) {
      console.error("There was an error");
  });</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="2-4"><code class="language-javascript">$scope.$createObservableFunction('search')
  .map(function() {
      return $scope.name;
  })
  .flatMap(function(name) {
      return rx.Observable.fromPromise(ApiServer.findByName(name));
  })
  .filter(function(contact) {
      return !$scope.gender || ct.gender === $scope.gender;
  })
  .subscribe(function(people) {
      $scope.people = people;
  }, function(error) {
      console.error("There was an error");
  });</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="5-7"><code class="language-javascript">$scope.$createObservableFunction('search')
  .map(function() {
      return $scope.name;
  })
  .flatMap(function(name) {
      return rx.Observable.fromPromise(ApiServer.findByName(name));
  })
  .filter(function(contact) {
      return !$scope.gender || ct.gender === $scope.gender;
  })
  .subscribe(function(people) {
      $scope.people = people;
  }, function(error) {
      console.error("There was an error");
  });</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="8-10"><code class="language-javascript">$scope.$createObservableFunction('search')
  .map(function() {
      return $scope.name;
  })
  .flatMap(function(name) {
      return rx.Observable.fromPromise(ApiServer.findByName(name));
  })
  .filter(function(contact) {
      return !$scope.gender || ct.gender === $scope.gender;
  })
  .subscribe(function(people) {
      $scope.people = people;
  }, function(error) {
      console.error("There was an error");
  });</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="11-15"><code class="language-javascript">$scope.$createObservableFunction('search')
  .map(function() {
      return $scope.name;
  })
  .flatMap(function(name) {
      return rx.Observable.fromPromise(ApiServer.findByName(name));
  })
  .filter(function(contact) {
      return !$scope.gender || ct.gender === $scope.gender;
  })
  .subscribe(function(people) {
      $scope.people = people;
  }, function(error) {
      console.error("There was an error");
  });</code></pre></div>
      </section>

      <section>
        <div class="content">
          <h2>Let's create the Konami Code reactively</h2>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="1"><code class="language-javascript">$(document).keyupAsObservable()
.map(function (e) { return e.keyCode; }) 
.windowWithCount(10, 1)                    
.flatMap(function (x) {                  
    return x.sequenceEqual(konami); 
})
.filter(function (equal) { return equal; })  
.subscribe(function () {
    console.log('KONAMI! at', new Date());   
});</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="2"><code class="language-javascript">$(document).keyupAsObservable()
.map(function (e) { return e.keyCode; }) 
.windowWithCount(10, 1)                    
.flatMap(function (x) {                  
    return x.sequenceEqual(konami); 
})
.filter(function (equal) { return equal; })  
.subscribe(function () {
    console.log('KONAMI! at', new Date());   
});</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="3"><code class="language-javascript">$(document).keyupAsObservable()
.map(function (e) { return e.keyCode; }) 
.windowWithCount(10, 1)                    
.flatMap(function (x) {                  
    return x.sequenceEqual(konami); 
})
.filter(function (equal) { return equal; })  
.subscribe(function () {
    console.log('KONAMI! at', new Date());      
});</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="4-6"><code class="language-javascript">$(document).keyupAsObservable()
.map(function (e) { return e.keyCode; }) 
.windowWithCount(10, 1)                    
.flatMap(function (x) {                  
    return x.sequenceEqual(konami); 
})
.filter(function (equal) { return equal; })  
.subscribe(function () {
    console.log('KONAMI! at', new Date());   
});</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="7"><code class="language-javascript">$(document).keyupAsObservable()
.map(function (e) { return e.keyCode; }) 
.windowWithCount(10, 1)                    
.flatMap(function (x) {                  
    return x.sequenceEqual(konami); 
})
.filter(function (equal) { return equal; })  
.subscribe(function () {
    console.log('KONAMI! at', new Date());      
});</code></pre></div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <pre data-line="8-10"><code class="language-javascript">$(document).keyupAsObservable()
.map(function (e) { return e.keyCode; }) 
.windowWithCount(10, 1)                    
.flatMap(function (x) {                  
    return x.sequenceEqual(konami); 
})
.filter(function (equal) { return equal; })  
.subscribe(function () {
    console.log('KONAMI! at', new Date());   
});</code></pre></div>
      </section>

      <section>
        <div class="content">
          <h2>RxJS is just an example</h2>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>Lots of companies are starting to use this</h2>
        </div>
      </section>

      
      <section>
        <div class="content">
          <h2>This is just the begining</h2>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>Let's react to everything!</h2>
        </div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              This is the end of the presentation, so
            </div>
          </div>
          <h3>Thank you for listening</h3>
          <div class="byline">
            <div class="classy">
              or at least pretending to
            </div>
          </div>
        </div>
      </section> 
      
      <section data-bespoke-state="final" class="intro">
        <div class="content">
          <div class="byline">
            <div class="classy">
              This has been
            </div>
          </div>
          <h1>Reactive Angular</h1>
          <div class="byline">
            <div class="classy">
              by Martin Gontovnikas
            </div>
          </div>
          <div class="profile">
            <div class="rounded-image">
              <img src="img/gonto.jpeg">
            </div>
            <h3>@mgonto</h3>
          </div>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>Apendix</h2>
        </div>
      </section>

      <section>
        <div class="content">
          <img src="img/ng-europe-horizontal-on-black.png" />
          <h4>15% discount with devoxx-2014 code</h4>
          <h4><a href=" http://goo.gl/wc8Rgo">goo.gl/wc8Rgo</a></h4>
        </div>
      </section>

    </article>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Tauri::latin', 'Alegreya:400italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); 
    </script>
    <script src="js/bespoke.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/deck.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/rx.lite.js"></script>
    <script src="js/rx.aggregates.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/rx.angular.js"></script>
    <script src="js/app.bootstrap.js"></script>
    <script src="js/app.basic.js"></script>
    <script src="js/app.searcher.js"></script>
    </body>
</html>